on:
  push:
    branches:
      - fail_easier_github_actions

jobs:
  main_job:
    runs-on: ubuntu-latest
    name: Tests
    steps:
    - uses: actions/checkout@v2
      with: 
        submodules: recursive
    - name: Build Tests
      id: action1
      uses: ./ # Use action in root directory
