on:
  push

jobs:
  main_job:
    runs-on: ubuntu-latest
    name: Tests
    steps:
    - uses: actions/checkout@v2
    - name: My action
      id: action1
      uses: ./ # Use action in root directory
