on:
  push:
    branches:
      - easier_github_actions

jobs:
  main_job:
    runs-on: ubuntu-latest
    name: Tests
    steps:
    - uses: actions/checkout@v2
      with: 
        submodules: recursive
    - name: Build Tests
      id: build_tests
      # Use action in root directory
      uses: ./
    - name: Report Failure
      id: failure
      if: ${{ steps.build_tests.outputs.build_result != 0 }}
      # use exit 1 to report a failure
      run: echo "Something went wrong. Exit status ${{ steps.build_tests.outputs.build_result }}" && exit 1
    - name: Report Success
      id: success
      if: ${{ steps.build_tests.outputs.build_result == 0 }}
      run: echo "Build result ${{ steps.build_tests.outputs.build_result }}"
