on:
  push:
    branches:
      - easier_github_actions

jobs:
  main_job:
    runs-on: ubuntu-latest
    name: Tests
    steps:
    - uses: actions/checkout@v2
      with: 
        submodules: recursive
    - name: Build Tests
      id: build_tests
      # Use action in root directory
      uses: ./
    - name: Report build failure
      id: build_failure
      if: ${{ steps.build_tests.outputs.build_result != 0 }}
      run: echo "Something went wrong. Exit status ${{ steps.build_tests.outputs.build_result }}."
    - name: Report run failure
      id: run_failure
      if: ${{ steps.build_tests.outputs.quick_run_result != 0 }}
      run: echo "The executable was built but running it produces an error. Exit status ${{ steps.build_tests.outputs.quick_run_result }}."
    - name: Exit due to failure
      id: early_exit
      if: ${{ steps.build_tests.outputs.build_result != 0 }} || ${{ steps.build_tests.outputs.quick_run_result != 0 }}
      run: echo "Build error ${{ steps.build_tests.outputs.build_result != 0 }}. Run error ${{ steps.build_tests.outputs.quick_run_result != 0 }}" && exit 1
    - name: Report success
      id: success
      if: ${{ steps.build_tests.outputs.build_result == 0 }}
      run: echo "Build result ${{ steps.build_tests.outputs.build_result }}"
